# Port configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/modulus_todo_app
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/modulus_todo_app?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/modulus_todo_app

# JWT Secrets & Expiration
JWT_SECRET=modulus_super_secret_jwt_key_2026_seventeen_dev_secure
JWT_EXPIRE=30d

# CORS Allowed Origins
CORS_ORIGIN=*
